body {

    background-image: url('https://eskipaper.com/images/background-wallpaper-19.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Itim', cursive;
  } 
  header
    {
      background-color: rgb(243, 153, 94);
      color: rgb(252, 212, 212);
      height: 100px;
      padding: 50px;
      text-align: center;
      
    }
    footer {
        background-color: wheat;
        color: blueviolet;
        height: 50px;
        padding: 10px;
        text-align: center;
    }
        
    .mainpage 
    {
      width: 1024px; 
      margin: 0 auto;
    }
    .headname1 
        {color: rgb(245, 220, 192);
        font-size: 30px;
        
        
        }
    .headname2 
        {color: rgb(245, 220, 192);
        
        
        
        }